In [1]:
import pandas as pd
import numpy as np
import os

1- Inspect the data: Load the data into a pandas DataFrame to understand its structure, data types, and initial content. ok

2- Handle missing values: Identify and handle missing values using imputation or removal techniques.ok

3- Correct data types: Ensure that each column has the correct data type. Convert if necessary. 

4- Remove duplicates: Identify and remove duplicate rows.

5- Handle outliers: Identify and handle outliers using appropriate methods.

6- Standardize and normalize data: Standardize or normalize numerical columns if necessary.

7- Validate data: Check for inconsistencies and errors in the data.

8- Save the cleaned data: Save the cleaned data to a new CSV file.

In [2]:
df = pd.read_excel("gamezone-orders-data.xlsx")

display(df.head())

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
0,2c06175e,0001328c3c220830,2020-12-24 00:00:00,2020-12-13,Nintendo Switch,e682,168.00,website,affiliate,unknown,US
1,ee8e5bc2,0002af7a5c6100772,2020-10-01 00:00:00,2020-09-21,Nintendo Switch,e682,160.61,website,direct,desktop,DE
2,9eb4efe0,0002b8350e167074,2020-04-21 00:00:00,2020-02-16,Nintendo Switch,8d0d,151.20,website,direct,desktop,US
3,cac7cbaf,0006d06b98385729,2020-04-07 00:00:00,2020-04-04,Sony PlayStation 5 Bundle,54ed,1132.82,website,direct,desktop,AU
4,6b0230bc,00097279a2f46150,2020-11-24 00:00:00,2020-08-02,Nintendo Switch,8d0d,33.89,website,direct,desktop,TR

In [9]:
null_check = df.isnull().sum()
print("Datos nulos por columna:")
print(null_check)

Datos nulos por columna:
USER_ID                     0
ORDER_ID                    0
PURCHASE_TS                 0
SHIP_TS                     0
PRODUCT_NAME                0
PRODUCT_ID                  0
USD_PRICE                   5
PURCHASE_PLATFORM           0
MARKETING_CHANNEL          83
ACCOUNT_CREATION_METHOD    83
COUNTRY_CODE               38
dtype: int64

In [5]:
df_mod = pd.DataFrame(df)

print(df_mod.head())

    USER_ID           ORDER_ID          PURCHASE_TS    SHIP_TS  \
0  2c06175e   0001328c3c220830  2020-12-24 00:00:00 2020-12-13
1  ee8e5bc2  0002af7a5c6100772  2020-10-01 00:00:00 2020-09-21
2  9eb4efe0   0002b8350e167074  2020-04-21 00:00:00 2020-02-16
3  cac7cbaf   0006d06b98385729  2020-04-07 00:00:00 2020-04-04
4  6b0230bc   00097279a2f46150  2020-11-24 00:00:00 2020-08-02

                PRODUCT_NAME PRODUCT_ID  USD_PRICE PURCHASE_PLATFORM  \
0            Nintendo Switch       e682     168.00           website
1            Nintendo Switch       e682     160.61           website
2            Nintendo Switch       8d0d     151.20           website
3  Sony PlayStation 5 Bundle       54ed    1132.82           website
4            Nintendo Switch       8d0d      33.89           website

  MARKETING_CHANNEL ACCOUNT_CREATION_METHOD COUNTRY_CODE
0         affiliate                 unknown           US
1            direct                 desktop           DE
2            direct                 desktop           US
3            direct                 desktop           AU
4            direct                 desktop           TR

In [7]:
# Convertir columnas de fecha a datetime (si no lo están ya)
# Corrección: usar errors='coerce' para manejar entradas que no se pueden convertir
df_mod['PURCHASE_TS'] = pd.to_datetime(df_mod['PURCHASE_TS'], errors='coerce')
df_mod['SHIP_TS'] = pd.to_datetime(df_mod['SHIP_TS'], errors='coerce')

print(df_mod.head(20))

# Después de esta corrección, puedes verificar si se generaron valores NaT (Not a Time):
print("\nValores NaT (faltantes) en columnas de fecha después de la conversión:")
print(df_mod[['PURCHASE_TS', 'SHIP_TS']].isnull().sum())

     USER_ID           ORDER_ID PURCHASE_TS    SHIP_TS  \
0   2c06175e   0001328c3c220830  2020-12-24 2020-12-13
1   ee8e5bc2  0002af7a5c6100772  2020-10-01 2020-09-21
2   9eb4efe0   0002b8350e167074  2020-04-21 2020-02-16
3   cac7cbaf   0006d06b98385729  2020-04-07 2020-04-04
4   6b0230bc   00097279a2f46150  2020-11-24 2020-08-02
5   046e7528    000f169e17f4941  2020-08-20 2020-08-09
6   94dfec76   000fdd9bfe463101  2020-05-11 2020-03-05
7   8a328a1d   0010d31e3c058676  2020-07-03 2020-04-03
8   46c57b58   0013ac51a8831707  2019-03-24 2018-10-29
9   a2eaa1d1   001620ea42468912  2019-11-01 2019-10-17
10  c7c492f8   0016654fc8584512  2019-12-09 2019-07-22
11  d71c06c6   00236994a0b90874  2019-08-30 2019-06-29
12  9933b602   002a0b04dd764807  2020-02-16 2019-12-08
13  bbbaa7ff   002f0b22bb379479  2020-05-14 2020-03-24
14  68673786    003ed9bd3d71799  2020-10-26 2020-06-01
15  1802f1a0   004602d9c2d12771  2020-10-13 2020-08-30
16  2abdb1d2   004d6bc82f820293  2020-10-25 2020-08-01
17  deba2f70   004eca8109c94135  2019-12-24 2019-09-11
18  d9f8bd41   0053e1f565292085  2019-05-20 2019-04-09
19  d37ef9f9   006116b394689293  2020-12-23 2020-08-29

                      PRODUCT_NAME PRODUCT_ID  USD_PRICE PURCHASE_PLATFORM  \
0                  Nintendo Switch       e682     168.00           website
1                  Nintendo Switch       e682     160.61           website
2                  Nintendo Switch       8d0d     151.20           website
3        Sony PlayStation 5 Bundle       54ed    1132.82           website
4                  Nintendo Switch       8d0d      33.89           website
5                  Nintendo Switch       8d0d     168.00           website
6           27in 4K gaming monitor       891b     390.59           website
7           27in 4K gaming monitor       891b     480.00           website
8   JBL Quantum 100 Gaming Headset       ab0f      22.22           website
9                  Nintendo Switch       e682     168.00           website
10                 Nintendo Switch       8d0d     150.53           website
11                 Nintendo Switch       8d0d     146.25           website
12       Sony PlayStation 5 Bundle       54ed    1725.86           website
13                 Nintendo Switch       e682     168.00           website
14                 Nintendo Switch       8d0d     134.41           website
15       Sony PlayStation 5 Bundle       54ed    1368.45           website
16          27in 4K gaming monitor       e7e6     480.00           website
17                 Nintendo Switch       e682     168.00           website
18  JBL Quantum 100 Gaming Headset       ab0f      24.00           website
19          27in 4K gaming monitor       891b     312.00           website

   MARKETING_CHANNEL ACCOUNT_CREATION_METHOD COUNTRY_CODE
0          affiliate                 unknown           US
1             direct                 desktop           DE
2             direct                 desktop           US
3             direct                 desktop           AU
4             direct                 desktop           TR
5             direct                 desktop           PH
6             direct                 desktop           GB
7             direct                 desktop           BR
8             direct                 desktop           BE
9             direct                 desktop           US
10            direct                 desktop           FR
11            direct                 desktop           KR
12            direct                 desktop           US
13            direct                 desktop           US
14            direct                 desktop           ES
15            direct                 desktop           AU
16            direct                 desktop           US
17            direct                 desktop           US
18            direct                 desktop           US
19            direct                 desktop           US

Valores NaT (faltantes) en columnas de fecha después de la conversión:
PURCHASE_TS    5
SHIP_TS        0
dtype: int64

In [12]:
# Suponiendo que df_mod ya ha sido procesado con pd.to_datetime(df_mod['PURCHASE_TS'], errors='coerce')

# Filas donde PURCHASE_TS es NaT
filas_con_nat_purchase_ts = df_mod[df_mod['PURCHASE_TS'].isnull()]

print("Filas con valores NaT (faltantes) en 'PURCHASE_TS':")
print(filas_con_nat_purchase_ts)

# Si solo quieres ver cuántas hay:
#print(f"Número de filas con NaT en 'PURCHASE_TS': {filas_con_nat_purchase_ts.shape[0]}")
# O, como ya hiciste antes:
# print(f"Número de filas con NaT en 'PURCHASE_TS': {df_mod['PURCHASE_TS'].isnull().sum()}")

Filas con valores NaT (faltantes) en 'PURCHASE_TS':
Empty DataFrame
Columns: [USER_ID, ORDER_ID, PURCHASE_TS, SHIP_TS, PRODUCT_NAME, PRODUCT_ID, USD_PRICE, PURCHASE_PLATFORM, MARKETING_CHANNEL, ACCOUNT_CREATION_METHOD, COUNTRY_CODE]
Index: []

In [11]:

# Identificar las filas donde PURCHASE_TS es NaT
condicion_nat_purchase_ts = df_mod['PURCHASE_TS'].isnull()

# Para esas filas, calcular PURCHASE_TS como SHIP_TS - 24 horas
# Usamos .loc para evitar SettingWithCopyWarning y asegurar que la asignación se haga en el DataFrame original.
# También nos aseguramos de que SHIP_TS no sea NaT para las filas que vamos a modificar.
# Si SHIP_TS también es NaT, PURCHASE_TS seguirá siendo NaT después de esta operación.
df_mod.loc[condicion_nat_purchase_ts, 'PURCHASE_TS'] = df_mod.loc[condicion_nat_purchase_ts, 'SHIP_TS'] - pd.Timedelta(hours=24)

# Opcional: Verificar los cambios
print("Verificación de las filas donde PURCHASE_TS era NaT:")
# Mostramos algunas columnas relevantes de las filas que potencialmente fueron modificadas
# Si SHIP_TS también era NaT para alguna de estas filas, PURCHASE_TS seguirá siendo NaT
print(df_mod[condicion_nat_purchase_ts][['PURCHASE_TS', 'SHIP_TS']])

print("\nConteo de NaT en PURCHASE_TS después de la imputación:")
print(df_mod['PURCHASE_TS'].isnull().sum())

Verificación de las filas donde PURCHASE_TS era NaT:
      PURCHASE_TS    SHIP_TS
1047   2019-07-07 2019-07-08
5846   2021-01-10 2021-01-11
11853  2019-04-10 2019-04-11
16163  2019-05-17 2019-05-18
20725  2019-01-16 2019-01-17

Conteo de NaT en PURCHASE_TS después de la imputación:
0

In [14]:
# Numeric columns (USD_PRICE)
# USD_PRICE should be a float.
if 'USD_PRICE' in df_mod.columns:
    df_mod['USD_PRICE'] = pd.to_numeric(df_mod['USD_PRICE'], errors='coerce')
    # If errors='coerce' creates new NaNs, you might need to re-impute them.
    # For example: df_mod['USD_PRICE'].fillna(df_mod['USD_PRICE'].median(), inplace=True)

print(df_mod['USD_PRICE'].isnull().sum())

# MARKETING_CHANNEL should be a string.
if 'MARKETING_CHANNEL' in df_mod.columns:
    df_mod['MARKETING_CHANNEL'] = df_mod['MARKETING_CHANNEL'].astype(str)

print(df_mod['MARKETING_CHANNEL'].isnull().sum())

# ACCOUNT_CREATION_METHOD should be a string.
if 'ACCOUNT_CREATION_METHOD' in df_mod.columns:
    df_mod['ACCOUNT_CREATION_METHOD'] = df_mod['ACCOUNT_CREATION_METHOD'].astype(str)

print(df_mod['ACCOUNT_CREATION_METHOD'].isnull().sum())

# SHIP_TS should be a datetime.
if 'SHIP_TS' in df_mod.columns:
    df_mod['SHIP_TS'] = pd.to_datetime(df_mod['SHIP_TS'], errors='coerce')

print(df_mod['SHIP_TS'].isnull().sum())

5
0
0
0

In [15]:

# Filas donde PURCHASE_TS es NaT
filas_con_nat_purchase_ts = df_mod[df_mod['USD_PRICE'].isnull()]

print("Filas con valores NaT (faltantes) en 'USD_PRICE':")
print(filas_con_nat_purchase_ts)

Filas con valores NaT (faltantes) en 'USD_PRICE':
        USER_ID           ORDER_ID PURCHASE_TS    SHIP_TS  \
1190   f2939b5c  0fa89eecc5d102514  2020-08-20 2020-05-26
13282  45913313    ab0b1a9c91a1197  2019-12-25 2019-12-28
14189  1c173578   b6a132d331c14466  2020-09-01 2020-09-04
20044  7c364c50   eee5663869153075  2020-07-11 2020-07-12
20227  70565cdf   f063ed5ec8848400  2021-01-08 2021-01-10

                         PRODUCT_NAME PRODUCT_ID  USD_PRICE PURCHASE_PLATFORM  \
1190                Dell Gaming Mouse       0c5a        NaN        mobile app
13282  JBL Quantum 100 Gaming Headset       2997        NaN        mobile app
14189               Dell Gaming Mouse       f81e        NaN        mobile app
20044               Dell Gaming Mouse       f81e        NaN        mobile app
20227               Dell Gaming Mouse       f81e        NaN        mobile app

      MARKETING_CHANNEL ACCOUNT_CREATION_METHOD COUNTRY_CODE
1190              email                 desktop           GH
13282             email                  mobile           KE
14189            direct                 desktop           KE
20044             email                  mobile           VE
20227             email                 desktop           BO

Filtrar DF basando en condiciones

IndentationError: expected an indented block after 'for' statement on line 13 (3526968853.py, line 14)